:root {
  --primary-color: black;
  --color-secundario: white;
  --fuente-Monserratt: "Montserrat", sans-serif;
  --color-terciario: lightblue;
  --accent-color: pink;
}


body {
  background-color: var(--primary-color);
  color: var(--color-secundario);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 90%;
  height: 100vh;
}

h1 {
  text-align: center;
  align-self: center;
  color: var(--color-terciario);
  font-size: 1em;
  font-family: "Dancing Script", cursive;
}

p {
  line-height: 1em;
  font-size: 1.2em;
}

h2 {
  font-size: 1em;
  margin: 20px 0;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header {
  padding: 20px 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid var(--accent-color);
}

.header__menu__link {
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--fuente-Monserratt);
  font-size: 1em;
  margin: 0 50px;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #22D4FD;
  transition: background-color 0.3s ease, transform 0.3s ease;

}

.header__menu__link:hover {
  background-color: var(--color-secundario);
  color: var(--primary-color);
  transform: scale(1.1);
}

#About div {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
}

#About p {
  width: 50%;
  text-align: justify;
}

.left-text {
  align-items: center;
}

#profile-picture {
  border-radius: 10%;
  max-width: 200px;
  height: 50%;
  border-color: #22D4FD;
  border-width: 1dvi;
  border-style: double;

}

#Experience p {
  text-align: justify;
}

.experience-item {
  color: var(--primary-color);
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--color-terciario);
  margin: 5px 0;
  cursor: pointer;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.experience-details {
  display: none;
}

.experience-item.open .experience-details {
  display: block;
}

#Experience ul {
  list-style-type: none;
}

#Experience li {
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--color-terciario);
  align-content: center;
}

h1 {
  text-align: center;
  color: var(--color-terciario);
  font-size: 1.5em;
  font-family: "Dancing Script", cursive;
}

p {
  line-height: 2em;
  font-size: 1em;
}

h2 {
  font-size: 1.6em;
  margin: 20px 0;
}

#About div {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
}

#About p {
  width: 50%;
  text-align: justify;
}

.left-text {
  align-items: center;
}

lesson-11 #profile-picture {
  border-radius: 10%;
  max-width: 200px;
  height: 50%;
  border-color: var(--color-terciario);
  border-width: 1dvi;
  border-style: double;
}

#Experience p {
  text-align: justify;
}

#profile-picture {
  border-radius: 10%;
  max-width: 200px;
  height: 50%;
  border-color: var(--color-terciario);
  border-width: 1dvi;
  border-style: double;

}

#Experience p {
  text-align: justify;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: var(--primary-color);
  background-color: var(--color-terciario);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

#Experience ul {
  list-style-type: none;
}

#Experience li {
  color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--color-terciario);
  margin: 10px 10px;
  font-size: 1em;
  position: relative;
}


#Connect h2 {
  text-align: center;
  color: beige;
}

.connect-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.connect-list li {
  width: 100%;
  text-align: justify;
  padding: 21.5px 0;
  border-radius: 8px;
  font-family: var(--fuente-Monserratt);
  font-size: 1.5rem;
  align-content: space-between;
  border: 2px solid var(--color-terciario);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.message-form {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.message-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.message-form input,
.message-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.message-form textarea {
  height: 150px;
  resize: vertical;
}

.message-form button {
  background-color: #22D4FD;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-form button:hover {
  background-color: #0056b3;
}

#message-section {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

#message-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#messages {
  list-style-type: none;
  padding: 0;
}

#messages li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}


a:-webkit-any-link {
  color: var(--color-secundario);
  cursor: pointer;
  text-decoration: none;
  align-self: center;
}


@media (max-width: 768px){ 
  h1 {
    font-size: 2em;
    color: var(--color-secundario);
  }

  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  #Experience li {
    font-size: 1.1em;
    padding: 15px;
  }

}

/* Desktop styles */
@media (min-width: 1024px) {
  h1 {
    font-size: 2.5em;
    color: var(--color-terciario);
  }

  p {
    font-size: 1.2em;
    line-height: 2em;
  }

  #Experience li {
    font-size: 1.2em;
    padding: 20px;
  }
}