:root {
    --primary-color: black;
    --color-secundario: white;
    --fuente-Monserratt: "Montserrat", sans-serif;
    --color-terciario: lightblue;
    --color-cuarto: #22D4FD;
}
  
body {
  background-color: var(--primary-color);
  color: var(--color-secundario);
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 90%;
  height: 100vh;
}
.header{
  padding: 2% 0% 0% 30%;
}

#navegation{
  display: flex;
  gap: 100px;
}

.header__menu__link{
  justify-content: center;
  font-family: var(--fuente-Monserratt);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-cuarto)!important;
  
}
  h1 {
    text-align: center;
    color: var(--color-secundario);
    font-size: 3em;
    font-family: "Dancing Script", cursive;
  }
  
  p {
    line-height: 2em;
    font-size: 1.2em;
  }
  
  h2{
    font-size:2em;
    margin:20px 0;
  }
  #About div {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
  }
  
  #About p {
    width: 50%;
    text-align: justify;
  }
  
  .left-text {
    align-items: center;
  }
  
  #profile-picture {
    border-radius: 10%;
    max-width: 200px;
    height: 50%;
    border-color: var(--color-terciario);
    border-width: 1dvi;
    border-style: double;
    
  }

#Experience p {
  text-align: justify;
}
  
#Experience ul {
  list-style-type: none;
  padding: 0;

}
  
.job-item {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--color-terciario);
  margin: 10px 10px;
  font-size: 1em;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-title {
  font-weight: bold;
}

.job-dates {
  font-style: italic;
}

.job-description {
  margin-top: 10px;
}

#Connect h2 {
  text-align: center;
  color: beige;
}
  
.connect-list {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 32px;
}
  
.connect-list li {
    width: 100%;
    text-align: justify;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-Monserratt);
    font-size: 1.5rem;
    align-content: space-between;
    border: 2px solid var(--color-cuarto);
    display: flex;
    justify-content: center;
    gap: 10px; 
  }

a:-webkit-any-link {
    color: var(--color-secundario);
    cursor: pointer;
    text-decoration: none;
}
  